/*CSS RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.cardHighlight {
  min-height: 100%;
}

#background {
  
  height: 100vh;
  padding: 120px;
}

#banner-header {
  font-size: 70px;
  color: white;

}

#banner-header2 {
  font-size: 30px;
  color: white;
}


#banner {
  color: black;

}

#noPage {
  color: black;
  padding-top: 100px;
  padding-left: 500px;
}

#noPage p {
  font-size: 30px;
}

#noPage h1 {
  font-size: 80px;
}

#nav {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#container {
  max-width: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M 0%2c65 C 48%2c121.6 144%2c353 240%2c348 C 336%2c343 384%2c33.2 480%2c40 C 576%2c46.8 624%2c356.6 720%2c382 C 816%2c407.4 864%2c164.8 960%2c167 C 1056%2c169.2 1104%2c420.8 1200%2c393 C 1296%2c365.2 1392%2c101 1440%2c28L1440 800L0 800z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c786 C 96%2c734.2 288%2c542 480%2c527 C 672%2c512 768%2c718.6 960%2c711 C 1152%2c703.4 1344%2c533.4 1440%2c489L1440 800L0 800z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#courses {
  padding: 2% 2%;
  margin-bottom: 1%;


}

#login {
  border: 1px solid white;
  padding: 20px;
  width: 500px;
  background-color: white;
  border-radius: 5px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
  
}

#register {
  border: 1px solid white;
  padding: 20px;
  width: 500px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.50);

}

#errorPage {
  padding-top: 12rem;
  max-width: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  font-size: 50px;

}
*/
